.header {
    width: auto;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0 2.5%;
    opacity: 100%;
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    background: linear-gradient(180deg, #000000 0%, rgba(9, 240, 255, 0.75) 51.04%, #000000 100%);
  }
  
  .badge {
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }

 body {
    background: linear-gradient(180deg, #000000 0%, rgba(9, 240, 255, 0.75) 51.04%, #000000 100%)
  }
  /* background: linear-gradient(180deg, #000000 0%, rgba(9, 240, 255, 0.75) 51.04%, #000000 100%); */