.header {
    width: auto;
    height: 3rem;
    display: flex;
    align-items: auto;
    justify-content: space-between;
    background-color: black;
    padding: 0 5.0%;
    opacity: 75%;
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }  
 
  .header li {
    margin-left: 3rem;
  } 

  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
  }
  
  .header a:hover,
  .header a:active {
    color: rgba(9, 240, 255, 0.75);
  } 


 body {
    background: linear-gradient(180deg, #000000 0%, rgba(9, 240, 255, 0.75) 51.04%, #000000 100%);
  }
  /* background: linear-gradient(180deg, #000000 0%, rgba(9, 240, 255, 0.75) 51.04%, #000000 100%); */