.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -100%;
    right: 50%;
    left: 0%;
  }
  .dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding: 30px;
    opacity: 70%;
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: rgba(9, 240, 255, 0.75);
  }
  .dashboard div {
    margin-top: 7px;
  }