.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding: 3rem;
    opacity: 70%;
  }
  .login__textBox {
    padding: 0.5rem;
    font-size: 1.00rem;
    margin-bottom: 0.75rem;
    opacity: 1.00
  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .login__google {
    background-color: rgba(9, 240, 255, 0.75);
  }
  .login div {
    margin-top: 0.50rem;
  }
 
   div {
    color: white;
  } 
.register_btn {
  color: rgba(9, 240, 255, 0.75);
}

.forgotpassword_btn {
  color: rgba(9, 240, 255, 0.75);
}