.retrieving-workout-plan-3 {
    display: flex;
        width: 40rem;
        height: 4rem;
        position: absolute;
        bottom: 63%;
        right: 50%;
        left: 43%;
        opacity: 100%;
        text-align: center;
        max-width: 100%;
        min-width: 100%;
}

.workout-list-3 {
    display: flex;
    width: 40rem;
    height: 4rem;
    position: absolute;
    bottom: 63%;
    right: 50%;
    left: 35%;
    opacity: 100%;
    text-align: center;
    max-width: 100%;
    min-width: 100%;
}