.lower-strength-list {
    display: flex;
    width: 40rem;
    height: 4rem;
    position: absolute;
    bottom: 50%;
    right: 50%;
    left: 14%;
    opacity: 100%;
    text-align: center;
    max-width: 100%;
    min-width: 100%;
}