
/* added exercises list */

.workout-for-today {
  display: flex;
    width: 40rem;
    height: 4rem;
    position: absolute;
    bottom: 60.5%;
    right: 50%;
    left: 37%;
    opacity: 100%;
    text-align: center;
}

.exercise-form {
  display: flex;
    position: absolute;
    bottom: 60.5%;
    right: 50%;
    left: 40.5%;
    opacity: 100%;
    text-align: center;
}

.edit-form-update {
  display: flex;
    position: absolute;
    bottom: 50.5%;
    right: 50%;
    left: 40.5%;
    opacity: 100%;
    text-align: center;
}

/* .exercise-form-added {

  display: flex;
  bottom: 45.5%;
  right: 50%;
  left: 49%;
  width: 5rem;
} */

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 17.5rem;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid black;
  outline: none;
  width: 200px;
  background: white;
  color: black;
}

.todo-input:placeholder {
  color: black;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: black;;
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid black;
}

.todo-button.edit {
  background: black;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(80deg, #000000 35%, rgba(9, 240, 255, 0.75) 90%, #000000 50%);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}