/* .streak-counter-display-2 {
  display: flex;
    width: 20%;
    height: 10rem;
    background: black;
    position: absolute;
    bottom: 30.5%;
    right: 50%;
    left: 40%;
    opacity:10%;
    text-align: center;
} */
.streak-counter-btn {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
  }

.number-display {
  display: flex;
}
  
  .button__wrapper {
    display: flex;
    gap: 3rem;
    position: absolute;
    bottom: 30.5%;
    right: 50%;
    left: 46.5%;
}   
  
.streak-counter-display {
  display: flex;
    width: 100%;
    height: 8rem;
    background: black;
    position: absolute;
    bottom: 72.5%;
    right: 50%;
    left: 0%;
    opacity: 80%;
    text-align: center;
}

.streak--title {
  display: flex;
    width: 40rem;
    height: 4rem;
    position: absolute;
    bottom: 71.5%;
    right: 50%;
    left: 37%;
    opacity: 100%;
    text-align: center;
}
