.streak-counter-btn {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
  }


  
  .button__wrapper {
    display: flex;
    gap: 3rem;
}   
  
  /* @keyframes pulse {
    0%,
    100% {
      transform: scale(1, 2 ,3);
    }
    50% {
      transform: scale(1.2);
    }
} */

.streak-counter-display {
  display: flex;
    width: 100%;
    height: 8rem;
    background: black;
    position: absolute;
    bottom: 72.5%;
    right: 50%;
    left: 0%;
    opacity: 80%;
    text-align: center;
}

.streak--title {
  display: flex;
    width: 40rem;
    height: 4rem;
    position: absolute;
    bottom: 71.5%;
    right: 50%;
    left: 37%;
    opacity: 100%;
    text-align: center;
}
