.streak-text{
    position: retlative;
}

.text-on-image {
    position: absolute;
    right: 10%;
    left: 10%;
    bottom: 35%;
    color: white;
}

.streak-image {
    height: 100rem;
    width: 100rem;
}