.streak-text{
    position: relative;
}

/* .text-on-image {
    position: absolute;
    right: 10%;
    left: 35%;
    bottom: 42%;
    color: white;
    background-color: black;
    opacity: 50%;
} */

.streak-photo {
    height: auto;
    max-width: 100%;
}

/* .get-started {
    position: absolute;
    right: 10%;
    left:22%;
    bottom: -10%;
    color: white;
} */


/* .firebase {
    position: absolute;
} */

.rectangle {
    display: flex;
    width: 28rem;
    height: 4rem;
    background: black;
    position: absolute;
    bottom: 50%;
    right: 50%;
    left: 34%;
    opacity: 50%;
    text-align: center;
}
.text {
    margin: auto;
}

.welcome-to-streak {
    display: flex;
    width: 28rem;
    height: 4rem;
    position: absolute;
    bottom: 50%;
    right: 50%;
    left: 34%;
    opacity: 100%;
    text-align: center;
}

.rectangle-2 {
    display: flex;
    width: 20rem;
    height: 4.2rem;
    background: black;
    position: absolute;
    bottom: -800%;
    right: 50%;
    left: -70%;
    opacity: 70%;
    text-align: center;
}

.what-is-streak {
    display: flex;
    width: 20rem;
    height: 4rem;
    position: absolute;
    bottom: -800%;
    right: 50%;
    left: -70%;
    opacity: 100%;
    text-align: center;
}

.rectangle-3{
    display: flex;
    width: 40rem;
    height: 20rem;
    background: black;
    position: absolute;
    bottom: -1000%;
    right: 50%;
    left: 50%;
    opacity: 70%;
    text-align: center;

}

.what-is-streak-p {
    display: flex;
    width: 20rem;
    height: 4rem;
    position: absolute;
    bottom: -600%;
    right: 50%;
    left: 85%;
    opacity: 100%;
    text-align: center;
}

.firebase {
    
}