.streak-text{
    position: relative;
}

/* .text-on-image {
    position: absolute;
    right: 10%;
    left: 35%;
    bottom: 42%;
    color: white;
    background-color: black;
    opacity: 50%;
} */

.streak-photo {
    height: auto;
    max-width: 100%;
}

/* .get-started {
    position: absolute;
    right: 10%;
    left:22%;
    bottom: -10%;
    color: white;
} */


/* .firebase {
    position: absolute;
} */

.rectangle {
    display: flex;
    width: 100%;
    height: 8rem;
    background: black;
    position: absolute;
    bottom: 37%;
    right: 50%;
    left: 0%;
    opacity: 50%;
    text-align: center;
}
.text {
    margin: auto;
}

.welcome-to-streak {
    display: flex;
    width: 40rem;
    height: 4rem;
    position: absolute;
    bottom: 43.5%;
    right: 50%;
    left: 28%;
    opacity: 100%;
    text-align: center;
}

.rectangle-2 {
    display: flex;
    width: 20rem;
    height: 4.2rem;
    background: black;
    position: absolute;
    bottom: -605%;
    right: 50%;
    left: -30%;
    opacity: 70%;
    text-align: center;
}

.what-is-streak {
    display: flex;
    width: 20rem;
    height: 4rem;
    position: absolute;
    bottom: -605%;
    right: 50%;
    left: -30%;
    opacity: 100%;
    text-align: center;
}

.rectangle-3 {
    display: flex;
    width: 35rem;
    height: 20rem;
    background: black;
    position: absolute;
    bottom: -1000%;
    right: 50%;
    left: 60%;
    opacity: 70%;
    text-align: center;
}

.what-is-streak-p {
    display: flex;
    width: 20rem;
    height: 4rem;
    position: absolute;
    bottom: -600%;
    right: 50%;
    left: 79%;
    opacity: 100%;
    text-align: center;
}

.what-is-streak h3{
    font-size: 1.6rem;
}

.rectangle-how {
    display: flex;
    width: 35rem;
    height: 15rem;
    background: black;
    position: absolute;
    bottom: -1000%;
    right: 50%;
    left: -48%;
    opacity: 70%;
    text-align: center;

}

.what-is-streak-how {
    display: flex;
    width: 20rem;
    height: 4rem;
    position: absolute;
    bottom: -740%;
    right: 50%;
    left: -32%;
    opacity: 100%;
    text-align: center;
}

.what-is-streak-how li {
    font-size: 1.5rem;
}
.firebase {
    margin-bottom: 20%
}

.streak-goal p {
    display: flex;
    width: 20rem;
    height: 4rem;
    position: absolute;
    bottom: -710%;
    right: 50%;
    left: 70%;
    opacity: 100%;
    text-align: center;
    font-size: 1.4rem;
}